body, html {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.columnFleet{
    padding: 0px;
}

.Grid{
    border-color: #ac2925;
    border:solid 1px;
}

.contentMain{
    padding: 0px;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-brand{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 2px;
}
.contentRow{
    height: calc(100% - 50px);
    margin: 0px;
}
.contentBox{
        height: 100%;
}

.grid{
    height:88%;
}

.timerRow{
    height: 12%;
    border: solid 1px;
}

.flagCivilization{
    height:100%;

}

.fleetNameContainer{
    font-family: Serif;
    font-size: 1.2em;
    height: 20px;
}
.fleetName{
text-align: center;
    margin-bottom: 0px;
}
.listShip{
    height: 97%;

}
.listShipTitle{
    height:3%;
    margin-bottom: 0px;
    padding-left: 2px;
    font-style: oblique;
    font-family: serif;
}

.fleetWeight{
    height: 100%;
    margin: 0px;
}

.fleetWeight>p{
    margin: 0px;
    padding-top: 10%;
    height:90%;
}

.gridContainer{
    height: 80%;
    margin: 0px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;

}
.rowGrid{
    margin: 0px;
    height: 12.5%;
}
.colGrid{
    border: 4px solid;
    border-right: 0px;
    width: 12.5%;
    height:100%;
    padding: 0px;

}
.fleetWeightContainer{
    margin:0px;
    padding-left: 5%;
    padding-right: 5%;
    height: 10%;
}

.iconWeight{
    padding: 0px;
}

.progress{
    margin-top: 15px;
    margin-bottom: 0px;
}

.lastRow{
    border-bottom: 4px solid;
}
.lastColumn{
    border-right: 4px solid;
}
.noBorder-left{
    border-left:0px;
}
.rotateIcon{
    font-size: 1.5em;
    color:#31708f;
}

.randomButton{
    text-align: center;
    padding-top: 15px;
}
.timer{
    zoom: 0.5;
    -moz-transform: scale(0.5);
    margin: 0px !important;
text-align: start !important;

}
.textTimer{
    font-size: xx-large;
}
.flip-clock-label{
    font-size: large;
}
.timerZoneColumn{
    padding: 0px;
    margin: 0px;
}
.surrender{
margin-left: 10px;
    margin-top: 25px;
}
.startBattle{
    margin-right: 10px;
    margin-top: 25px;

}
@media screen and (max-width: 805px){
    .timer{
        margin-left: 8% !important;
    }
    .textTimer{
        margin-left: 35%;
    }


}

@media screen and (min-width: 806px){
    .timer{
        margin-left: 16% !important;
    }
    .textTimer{
        margin-left: 20%;
    }
}
@media screen and (min-width: 900px){
   .gridContainer{

   }
}


@media screen and (min-width: 1035px){

    .textTimer{
        margin-left: 16%;
    }
}

.over{
 border: 4px dotted;
    border-color: #3e8f3e;
}






